In [ ]:
# Import statement
import pandas as pd

# Load data
df = pd.read_csv('imdb_movies.csv')

df.head()

,Unnamed: 0,Poster_Link,Series_Title,Released_Year,Certificate,Runtime,Genre,IMDB_Rating,Overview,Meta_score,Director,Star1,Star2,Star3,Star4,No_of_Votes,Gross
0,0,https://m.media-amazon.com/images/M/MV5BMDFkYT...,The Shawshank Redemption,1994,A,142,Drama,9.3,Two imprisoned men bond over a number of years...,80.0,Frank Darabont,Tim Robbins,Morgan Freeman,Bob Gunton,William Sadler,2343110,28341469.0
1,1,https://m.media-amazon.com/images/M/MV5BM2MyNj...,The Godfather,1972,A,175,"Crime, Drama",9.2,An organized crime dynasty's aging patriarch t...,100.0,Francis Ford Coppola,Marlon Brando,Al Pacino,James Caan,Diane Keaton,1620367,134966411.0
2,2,https://m.media-amazon.com/images/M/MV5BMTMxNT...,The Dark Knight,2008,UA,152,"Action, Crime, Drama",9.0,When the menace known as the Joker wreaks havo...,84.0,Christopher Nolan,Christian Bale,Heath Ledger,Aaron Eckhart,Michael Caine,2303232,534858444.0
3,3,https://m.media-amazon.com/images/M/MV5BMWMwMG...,The Godfather: Part II,1974,A,202,"Crime, Drama",9.0,The early life and career of Vito Corleone in ...,90.0,Francis Ford Coppola,Al Pacino,Robert De Niro,Robert Duvall,Diane Keaton,1129952,57300000.0
4,4,https://m.media-amazon.com/images/M/MV5BMWU4N2...,12 Angry Men,1957,U,96,"Crime, Drama",9.0,A jury holdout attempts to prevent a miscarria...,96.0,Sidney Lumet,Henry Fonda,Lee J. Cobb,Martin Balsam,John Fiedler,689845,4360000.0

In [ ]:
# Question 1: What is the average runtime for movies in the data set? Round to two decimal places.
round(df['Runtime'].mean(), 2)

122.89

In [ ]:
# Question 2: How long would it take you to watch all movies, in hours? Round to two decimal places.
round((df['Runtime'].sum()/60), 2)

2048.18

In [ ]:
# Question 3: What is the median meta score of movies in the data set?
round(df['Meta_score'].median(), 2)

79.0

In [ ]:
# Question 4: Which genre has the most titles in the data set?
df['Genre'].value_counts().head(1)

Genre
Drama    85
Name: count, dtype: int64

In [ ]:
# Question 5: How many different directors appear in the data set?
df['Director'].nunique()

548

In [ ]:
# Question 6: Which actor appeared the most times in the Star1 column?
df['Star1'].value_counts().head(1)

Star1
Tom Hanks    12
Name: count, dtype: int64

In [ ]:
# Question 7: In which year was the oldest movie released?
df['Released_Year'].min()

'1920'

In [ ]:
# Question 8: Which movie has the highest Gross (money made)? You can sort the data to figure this out.
df[['Series_Title', 'Gross']].sort_values(by = 'Gross', ascending= False).head(1)

                                   Series_Title        Gross
477  Star Wars: Episode VII - The Force Awakens  936662225.0

In [ ]:
# Question 9: Which movie got the most votes?
df[['Series_Title', 'No_of_Votes']].sort_values(by = 'No_of_Votes', ascending= False).head(1)

               Series_Title  No_of_Votes
0  The Shawshank Redemption      2343110

In [ ]:
# Question 10: Which movie had the best IMDb Rating?
df[['Series_Title', 'IMDB_Rating']].sort_values(by = 'IMDB_Rating', ascending= False).head(1)

               Series_Title  IMDB_Rating
0  The Shawshank Redemption          9.3

In [ ]:
# Question 11: Which year had the most movie titles?
df['Released_Year'].value_counts().head(1)

Released_Year
2014    32
Name: count, dtype: int64

In [ ]:
# Question 12: The average gross across all movies is $68,034,750.87.
round(df['Gross'].mean(), 2)

68034750.87

In [ ]:
# Question 13: What is the median gross across all movies?
df['Gross'].median()

23530892.0

In [ ]:
# Question 14: Is the gross profit from the movies in this data set right skewed, left skewed, or not skewed at all?
print(df['Gross'].mean())
print(df['Gross'].median())
# mean > median - right skew

68034750.87364621
23530892.0

In [ ]:
# Question 15: Create a new column called 'Gross Per Minute' that is created by dividing the gross money by the total runtime. The new column should show how much money each movie made per minute.
df['Gross_Per_Minute'] = (df['Gross'] / df['Runtime'])

# Which movie made the most gross profit per minute?
df[['Series_Title', 'Gross_Per_Minute']].sort_values(by = 'Gross_Per_Minute', ascending= False).head(1)

                                   Series_Title  Gross_Per_Minute
477  Star Wars: Episode VII - The Force Awakens      6.787407e+06